{{!-- Não é necessário o corpo do HTML (heady,body), pois já foi setado no template default --}}
<div class="container">
    <main class="row">
        <form action="" method="POST" class="col-lg-4 col-md-5 col-xs-12 offset-lg-8 offset-md-7 py-3">
            <input type="search" placeholder="Busque por uma refeição" name="search" aria-label="Busque por uma refeição"
                class="form-control form-control-sm col-10 float-left">
            <button type="button" class="btn btn-primary float-right col-2 pt-0 px-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </form>

        <section id="meals">
            {{#each meals}} 
                <article class="col-lg-4 col-md-6 float-left mb-4 hidden">
                    
                    <div class="card">                        
                        <img src="{{strMealThumb}}" class="card-img-top">
                        <small class="bg-primary w-100 p-2 text-white"> {{strCategory}} / {{strArea}} </small>
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{strMeal}}</h5>
                            <p class="card-text text-secondary card__p">{{strInstructions}}</p>
                        </div>
                    </div>
                </article>              
                
            {{/each}}

            <div class="text-center mb-5">
                <button class="btn btn-primary" id="meals__btn" > Carregar mais </button>
            </div>
            
        </section>      

    </main>
</div>